
#canvas{
    /* width: 1250px;
    height: 850px; */
    border: 20px solid #ae2012;
    background-color: black;
    position: absolute;
}


#label-page{
    width: 30vw;
    height: 32vh;
    background-color: #e9ff70;
    position: absolute;
    margin: 200px ;
    text-align: center;
    border: 2px solid green;
    border-radius: 7px;
}

#ullist{
    list-style: none;
}
h3{
    font-size: 22px;
    color: red;
}

#ullist li{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #3a0ca3;
    font-weight: 550;
}

#ullist li:hover{
    transform: scale(1.07);
}
